@using App.Domain.Identity
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<AppUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@App.Resources.Views.Shared._Layout.AppName</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@App.Resources.Views.Shared._Layout.Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/swagger">Api</a>
                    </li>

                    @if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="javascript:{}" id="userDropdown"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">@App.Resources.Views.Shared._Layout.User</a>
                            <div class="dropdown-menu" aria-labelledby="userDropdown">
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Persons"
                                   asp-action="Index">@App.Resources.Views.Shared._Layout.Persons</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Contacts"
                                   asp-action="Index">@App.Resources.Views.Shared._Layout.Contacts</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="ContactTypes"
                                   asp-action="Index">@App.Resources.Views.Shared._Layout.ContactTypes</a>
                            </div>
                        </li>
                    }

                    @if (User.IsInRole("admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="javascript:{}" id="adminDropdown"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">@App.Resources.Views.Shared._Layout.Admin</a>
                            <div class="dropdown-menu" aria-labelledby="adminDropdown">
                                
                                <a class="dropdown-item text-dark" asp-area="admin" asp-controller="Persons"
                                   asp-action="Index">@App.Resources.Views.Shared._Layout.Persons</a>
                                <a class="dropdown-item text-dark" asp-area="admin" asp-controller="Contacts"
                                   asp-action="Index">@App.Resources.Views.Shared._Layout.Contacts</a>
                                <a class="dropdown-item text-dark" asp-area="admin" asp-controller="ContactTypes"
                                   asp-action="Index">@App.Resources.Views.Shared._Layout.ContactTypes</a>

                                <hr class="dropdown-divider">

                                <a class="dropdown-item text-dark" asp-area="admin" asp-controller="Users"
                                   asp-action="Index">Users</a>
                                <a class="dropdown-item text-dark" asp-area="admin" asp-controller="Roles"
                                   asp-action="Index">Roles</a>
                                <a class="dropdown-item text-dark" asp-area="admin" asp-controller="UserRoles"
                                   asp-action="Index">User Roles</a>
                                <a class="dropdown-item text-dark" asp-area="admin" asp-controller="RefreshTokens"
                                   asp-action="Index">Refresh Tokens</a>

                                <hr class="dropdown-divider">
                                
                                <a class="dropdown-item text-dark" asp-area="admin" asp-controller="UserManagement"
                                   asp-action="Index">User Management</a>
                                
                            </div>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                           asp-action="Privacy">@Base.Resources.Common.Privacy</a>
                    </li>

                    <partial name="_LanguageSelection"/>

                </ul>
                <partial name="_LoginPartial"/>

            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - @App.Resources.Views.Shared._Layout.AppName - <a asp-area="" asp-controller="Home" asp-action="Privacy">@Base.Resources.Common.Privacy</a> |
        <a href="/swagger">Api</a> |
        @Thread.CurrentThread.CurrentCulture.Name | @Thread.CurrentThread.CurrentUICulture.Name
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>